<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block th:include="/default/menu"></th:block>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Siabe</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />



</head>
<body class="container-full"
	style="margin: 0 auto; background: #DCDCDC;">
	<input type=hidden th:id="permisoGlobal" th:value="${permisoGlobal}" />
	<div class="container bordeContainer">
		<form class="form-inline" id="usuarioForm">
			<div>
				<h1 class="h1Class">Cambio de password</h1>
			</div>
			<br/>
			<div class="table-responsive valoresCentrados">
			<table class="table tabla" th:fragment="usuarios" id="usuarios">
				<tr>
					<th>#</th>
					<th>Usuario</th>
					<th>Nombre completo</th>					
				</tr>
				<tr class="tdSencillo"  th:each="usuario,iterationStatus : ${usuarios}" th:onclick="|cambiarPassword('${usuario.idUsuario}','${usuario.usuario}','${usuario.nombre}');|" >							
				<td th:text="${iterationStatus.count}" th:id="${'conta'+usuario.idUsuario}"></td>
				
					<td  th:text="${usuario.usuario}" th:id="${'user'+usuario.idUsuario}"></td>
					
					<td  th:text="${usuario.nombre}" th:id="${'name'+usuario.idUsuario}"></td>
					
				</tr>
			</table>
			</div>
		</form>
		<div id="guardarPassModal" class="modal" role="dialog">
       <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
               <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h4 class="modal-title divRespuesta">Introduzca el nuevo password</h4>
               </div>
               <div class="modal-body">
               		<form id="passForm">
               		<div>
               		<div id="userPass"></div>
               		<div id="nombrePass"></div>
               		<br/>
               		
               		
               		<div class="valoresCentrados">
               		<input type="hidden" id="id_user_pass" />
               		<input placeholder="Nuevo password" type="password" style="text-align: center !important;" class="form-control" required minlength="5" id="nuevoPass"/>
               		<br/>
               		<input placeholder="Repita nuevo password" class="form-control" style="text-align: center !important;" type="password" required minlength="5" id="nuevoPassRep"/>
               		</div>
               		
               		</div>
               		<br/>
               		<div id="respuestaPass"></div>
               	<br/>
                   <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cerrarModal('guardarPassModal');">Cancelar</button>
                   <button type="submit" id="btn-confirm" class="btn btn-primary pull-right">Guardar</button>
                   </form>
                   
               </div>
           </div>
       </div>
   </div>		
		<div class="col-sm-7 valoresCentrados" id="postResultDiv"></div>
	</div>
	<div style="padding-top: 20px;">
		<th:block th:include="/default/pie"></th:block>
	</div>
</body>
</html>