/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins";


body {
    font-family: 'Poppins', sans-serif;
    /*background: #fafafa; */
    margin:0 auto; background: #E9EBEE;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 20px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #337AB7;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #337AB7;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #337AB7;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #337AB7;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #337AB7;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #337AB7;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #337AB7;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #337AB7;
}
a.article, a.article:hover {
    background: #337AB7 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


.bordeContainer{
border: 2px ridge #337AB7; 
background: #fff;
-webkit-box-shadow: 4px 4px 5px 0px rgba(51,122,183,1);
-moz-box-shadow: 4px 4px 5px 0px rgba(51,122,183,1);
box-shadow: 4px 4px 5px 0px rgba(51,122,183,1);
min-height: 400px;
padding-top: 10px;}

.bordeMenu{
border: 2px ridge #337AB7; 
background: #fff;
/*-webkit-box-shadow: 0px 4px 4px 0px rgba(51, 122, 183, 0.75);
-moz-box-shadow:    0px 4px 4px 0px rgba(51, 122, 183, 0.75);
box-shadow:         0px 4px 4px 0px rgba(51, 122, 183, 0.75); */
}

.bordePie{
	border: 2px ridge #337AB7; 
/*	-webkit-box-shadow: 0px -4px 4px 0px rgba(51, 122, 183, 0.75);
-moz-box-shadow:    0px -4px 4px 0px rgba(51, 122, 183, 0.75);
 box-shadow:         0px -4px 4px 0px rgba(51, 122, 183, 0.75); */
}

.h1Class{
	border-bottom: 5px solid #337AB7;
	font-size: 20px;
	color: #000;
	text-align: center;
	padding: 20px;
}

.valoresCentrados{
	display:block;margin:0 auto 0 auto; float: none;padding: 20px !important; text-align: center;
}

.espaciosLineas{
	padding: 0 15px 0 15px;
}

.footerSPadding{
	margin-right: 0px !important;margin-left: 0px !important;"
}

.spanClass{
	border-bottom: 5px solid #337AB7;
	font-size: 14px;
	color: #000;
	text-align: center;
	padding: 10px;
}

.spanClassImportante{
	border-bottom: 5px solid #337AB7;
	font-size: 14px;
	color: #337AB7;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}


.spanClassModal{
	
	font-size: 12px;
	color: #000;
	text-align: center;
	padding: 10px;
}

.spanClassImportanteModal{
	
	font-size: 12px;
	color: #337AB7;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

.inputClass{
	font-size: 12px;
	color: #337AB7;
	text-align: left;
}

label{
	font-size: 12px;
	color: #337AB7;
	text-align: left;
}

.inputWidth{
	width: 50% !important;
}

input{
	font-size: 12px !important;
	color: #000 !important;
	text-align: left !important;
}

.divRespuesta{
	font-size: 14px;
	background-color:#337AB7; 
	color:white; 
	padding:15px 15px 15px 15px;
	margin: 0 auto;
	text-align: center;
	}
	
.loader {
border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  text-align: center;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tabla >th >td {
	text-align: center !important;
	font-size: 12px;
	color: #00993D;
	width: 100%;
}

.tdSencillo {
	text-align: center !important;
	font-size: 12px !important;
	color: #337AB7 !important;
	width: 100% !important;
}

.tdSencillo:hover {
	text-align: center !important;
	font-size: 12px !important;
	color: #ffffff !important;
	/*background: #337AB7;*/
	background: #04447c;
	cursor : pointer;
	width: 100% !important;
}

.tdSencilloPermiso {
	text-align: center !important;
	font-size: 12px !important;
	background: #00993D !important;
	color: #fff;
	width: 100% !important;
}

.tdSencilloPermiso:hover {
	text-align: center !important;
	font-size: 12px !important;
	color: #ffffff !important;
	background: #337AB7 !important;
	cursor : pointer !important;
	width: 100% !important;
}

th{
	text-align: center !important;
	background: #337AB7;
	color : #fff;
	font-size: 13px;
	font-weight: normal;
}

::-webkit-input-placeholder {
   font-style: italic;
   color:#00993D;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00993D !important;
    opacity: 1; /* Firefox */
}
:-moz-placeholder {
   font-style: italic;
   color: #00993D !important;  
}
::-moz-placeholder {
   font-style: italic;
   color: #00993D !important;
}
:-ms-input-placeholder {  
   font-style: italic;
   color: #00993D !important;
}

/*tr:not(:first-child):hover td{
    background: #5BC0DE !important;
    cursor: pointer !important;
    color:#fff !important;
}*/



.tdSelect{
	font-size:12px;
	color: #337AB7;
}

.selectText{
	font-size:13px;	
}

.selectTextFormulario{
	font-size:13px;
	width:100% !important;	
	text-align:center !important;
}

.etiquetaSpan{
	font-size:12px;
	color: #00993D;
	font-weight: bold;
}

.widthAutocompletar{
	width:50% !important;
	text-align : center !important;
	font-weight: bold !important;
	color : #00993D !important;
	font-size:13px !important; 	
}


.inactivo{background: #D9534F; color:#fff;}

.divLogosReportes{
	cursor: pointer;
	text-align:left;
	display:none;
	position: absolute;
}

.divLogosAgregar{	
	clear: both;
	text-align:right;
	display:none;
	float:right;
	position: inherit;
}

.divLogosAgregarGeneral{	
	text-align:right;	
	float:right;
	position: inherit;
}

.labelAgregar{
	cursor: pointer;
}

.fCVariable{
	width: 100% !important;
	position: initial !important;
	font-family: inherit !important;
}

.divisionForm{
	    border-bottom: 2px solid rgb(51, 122, 183);
	    padding:10px;
}

.divisionFormFormulario{
	    background: #337AB7;
	    height:30px;
}

.div50{
	width: 50% !important;
}

.divReportes{	
	border: 2px solid #00993D;
	color :black !important;
	border-radius: 18px;
	padding: 10px;
	margin: 0 .5em!important;
}

.divReportes label{
	color :#00993D !important;
	font-size: initial;
	font-weight: normal;
}

.divReportes:hover {
/*	background: #f2f9ff; */
	border: 2px solid #337AB7;
	color:white !important;
	box-shadow: 3px 3px 3px 0px rgba(51,122,183,1);    
}

.divReportes:hover label{
	color :#337AB7 !important;  
}

.divReportes:hover .image{
	cursor:pointer;
	/*opacity: 0.8;*/
}

.lbl{
	cursor:pointer;
	/*opacity: 0.8;*/
}

.tablaModal td {
	text-align: center !important;
	font-size: 11px;
	padding:6px !important;
	color: #00993D;
	width: auto;
}


.sublabel{
	style="font-weight: bold; 
	font-size: 20px !important;	
	}
	

.file-input {
  visibility: hidden;
  width: 110px;
  height: 110px;

  display: block;
}
.file-input::before {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  content: 'Seleccionar archivo(s)';  
  text-align:center;
  display: block;
  background: #337AB7;
/*  border: 1px solid #000;*/
  border-radius: 50%;
  padding:30px 0;
  outline: none;
  white-space: inherit;
  -webkit-user-select: none;
  cursor: pointer;
  color : #fff;
  font-weight: 600;
  font-size: 10pt;
  visibility: visible;
  position: relative;
}
.file-input:hover::before {
 /* border: 1px solid #000;*/
  background: #00993D;
  
}
.file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

	
.linea {
	display:inline-block;
	padding: 0 70px;
    vertical-align: middle;
}


input[type="file"] {
    border: 1px solid #00993D;
  /*  padding: 6px;*/
    max-width: 100%;
    margin:0 auto;
}

.file-input {
    width: 100%;
}

.submit-btn {
    display: block;
    margin-top: 15px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    }
}

.upload-container {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
      margin-top: 60px;
      min-height: 400px;
      position: relative;
      padding: 20px;
}

.upload-header {
    border-bottom: 1px solid #ececec;
}

.upload-header h2 {
    font-weight: 500;
}

.single-upload {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
}

.tablaArchivos > tbody > tr > td{
	border-top: 0px solid white;
	
}

.tablaArchivos > tbody > tr > td > span{
	font-weight: bold;
	
}
	