<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block th:include="/default/menu"></th:block>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Siabe</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />



</head>
<body class="container-full">
	<input type=hidden th:id="permisoGlobal" th:value="${permisoGlobal}" />
	<div class="container bordeContainer">
		<form class="form-inline" onSubmit="return false;" id="beneficiarioForm">
			<div>
				<h1 class="h1Class">Reportes donativos</h1>
			</div>

			<div class="valoresCentrados">
				
				<div class="row">
				
				

				</div>
				
				
				
				<div class="col-xs-3 divReportes lbl" onclick="donanteGeneral();">
				
				<label class="lbl">General</label>
				</div>

				<div class="col-xs-3 divReportes lbl" onclick="cobranza();">
				
				<label class="lbl">Cobranza</label>
				</div>
				
				</div>

			</div>

		</form>


<!-- Empieza el modal para la modificacion de los beneficiarios--->

		<div id="buscarBeneficiarioModal" class="modal" role="dialog"
			style="overflow-y: auto;">
			<div class="modal-dialog" role="document">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> 
						<h4 class="modal-title divRespuesta">Modificar beneficiario</h4>-->
					</div>
					<div class="modal-body">
						<form id="beneForm">
							<div class="valoresCentrados">
							<div><label for="idBene">Nombre de beneficiario </label><br><br><input type="text"
								id="idBeneNom" class="form-control selectTextFormulario div50"
								onkeyup="autocompletarBeneficiarioNom();" style="margin: 0 auto !important;" required>
								<input type="hidden" id="idBeneNomHidden">
							</div> 
							<br/> 
							<br/>
							
							<div id="iconosReporteBenNom" class="iconosModal" style="display: none;">
							<a onclick="beneficiarioNombre(1,'resultReport1','iconosModal');" class="lbl "><img title='Descargar pdf' class="image"  src='/imagenes/pdf.png' alt='Descargar PDF' /></a>&nbsp&nbsp&nbsp 
							<a onclick="beneficiarioNombre(2,'resultReport1','iconosModal');" class="lbl "><img src='/imagenes/excel.png' class="image"   title='Descargar excel' alt='Descargar excel' /></a>&nbsp&nbsp&nbsp 
							<a onclick="beneficiarioNombre(3,'resultReport1','iconosModal');" class="lbl "><img src='/imagenes/html.png'  class="image"  title='Descargar html' alt='Descargar html' /></a>
							</div>
							 <br/>
							<div class="progress" id="resultReport1" style="display:none;">
							    <div class="progress-bar progress-bar-striped active" id="resultReport12" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:15%">							     
							    </div>
							 </div>
							
							<br />
							<div id="respuestaPass"></div>
							<br />
							
							<button type="button" class="btn btn-danger" data-dismiss="modal"
								onclick="cerrarModal('buscarBeneficiarioModal');">Cancelar</button>
								</div>
							</form>

					</div>
				</div>
			</div>
		</div>
		
		
		
		<div id="donanteGeneralModal" class="modal" role="dialog"
			style="overflow-y: auto;">
			<div class="modal-dialog modal-lg" role="document">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> 
						<h4 class="modal-title divRespuesta">Modificar beneficiario</h4>-->
					</div>
					<div class="modal-body">
						<form id="beneForm">
							<div class="valoresCentrados">
							<div class="row">
						
								
								<div class="col-xs-4 ">
								
									<label>Periodo &nbsp;</label><br /> <select 
										id="idPeriodoGeneralDonante" required
										class="form-control selectText">
										<option  selected value="">Selecciona periodo...</option>
										<option th:each="periodo : ${periodos}"
											th:value="${periodo.idPeriodo}" th:text="${periodo.nombre}"></option>
									</select>
								
								</div>
								
								<div class="col-xs-4 ">
								
									<label>Región &nbsp;</label><br /> <select 
										id="idRegionGeneral" required
										class="form-control selectText">
										<option  selected value="">Selecciona región...</option>
										<option th:each="region : ${regiones}"
											th:value="${region.idRegion}" th:text="${region.nombre}"></option>
									</select>
								
								</div>
								
								</div>
								<br/>
								<br/> 
							
							<div id="generales" style="display:none;">
							<!--  <label>Seleccion de datos</label>
							<br>-->
							<label class="customcheck" style="font-weight:bold; clear: both;">Marcar/Desmarcar Todos<input type="checkbox" id="checkTodos" name="checkPrincipal" /><span class="checkmark"></span></label>
							
							
							<table class="tablaModalReporte" style="text-align:left !important;">
							<tr>
							<td colspan=8 style="text-align:center !important; border: 0px;">
								<br />
								<div class="divisionFormFormulario">
								<h3>Datos generales</h3>
								</div>
								<br />
							</td>
							</tr>
							<tr style="display:none">					
							
          					<td ><label class="customcheck">#<input type="checkbox" id="idDonativo" name="general" class="chk" checked="checked" value="idDonativo as "><span class="checkmark"></span></label></td>
          					<!-- <td ><label class="customcheck">Periodo<input type="checkbox" id="periodoNom" name="general" class="chk" checked="checked" value="periodo as Periodo"><span class="checkmark"></span></label></td> -->
          						</tr>
							
							<tr>					
							
          					<td ><label class="customcheck">Denominación o Razón Social<input type="checkbox" name="general" class="chk gen" value="razonSocial as Denominación o Razón Social"><span class="checkmark"></span></label></td>
          					<td ><label class="customcheck">Titulo<input type="checkbox" name="general" class="chk gen" value="titulo as Titulo"><span class="checkmark"></span></label></td>
							<td><label class="customcheck">Nombre(s)<input type="checkbox" name="general" class="chk gen" value="nombre as Nombre(s)"><span class="checkmark"></span></label></td>
							<td><label class="customcheck">Apellido paterno<input type="checkbox" name="general" class="chk gen" value="apellidoPaterno as Apellido paterno"><span class="checkmark"></span></label></td>
							<td><label class="customcheck">Apellido materno<input type="checkbox" name="general"  class="chk gen" value="apellidoMaterno as Apellido materno"><span class="checkmark"></span></label></td>
								</tr>
							
							
								<tr>					
							
							<td><label class="customcheck">Estatus<input type="checkbox" name="general"  class="chk gen" value="estatusDon as Estatus"><span class="checkmark"></span></label></td>
							<td><label class="customcheck">Motivo inactivación<input type="checkbox" name="general"  class="chk gen" value="motivoEstatus as Motivo inactivación"><span class="checkmark"></span></label></td>
							<td><label class="customcheck">Adscripción<input type="checkbox" name="general"  class="chk gen" value="adscripcionDon as Adscripción"><span class="checkmark"></span></label></td>
							</tr>
							
							<tr>
							
							
							<td ><label class="customcheck">Tipo de donante<input type="checkbox" name="general"  class="chk gen" value="tipoDon as Tipo de donante"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Región<input type="checkbox" name="general"  class="chk gen" value="region as Región"><span class="checkmark"></span></label></td>							
							<td ><label class="customcheck">Sector<input type="checkbox" name="general"  class="chk gen" value="sectorDon as Sector"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Descripción del donativo<input type="checkbox" name="general"  class="chk gen" value="descripcionDonativo as Descripción del donativo"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Campaña<input type="checkbox" name="general"  class="chk gen" value="campania as Campaña"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Medio de autorización de donativo<input type="checkbox" name="general"  class="chk gen" value="medioAutorizacionDon as Medio de autorización de donativo"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Observaciones<input type="checkbox" name="general"  class="chk gen" value="observacionMedioAutorizacion as Observaciones"><span class="checkmark"></span></label></td>
							</tr>
							
							
							<tr>
							<td colspan=8 style="text-align:center !important; border: 0px;">
								<br />
								<div class="divisionFormFormulario">
								<h3>Datos de contacto</h3>
								</div>
								<br />
							</td>
							</tr>
							
							
							
							<tr>
							
							<td ><label class="customcheck">Correo electrónico<input type="checkbox" name="general"  class="chk con" value="email as Correo electrónico"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Celular<input type="checkbox" name="general"  class="chk con" value="celular as Celular"><span class="checkmark"></span></label></td>
							
							<td ><label class="customcheck">Teléfono 1<input type="checkbox" name="general"  class="chk con" value="telefono1 as Teléfono 1"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Teléfono 2<input type="checkbox" name="general"  class="chk con" value="telefono2 as Teléfono 2"><span class="checkmark"></span></label></td>
								
							
							</tr>
							
							
								<tr>
							<td colspan=8 style="text-align:center !important; border: 0px;">
								<br />
								
								<h4 class="subDivi">Domicilio particular</h4>
						
								<br />
							</td>
							</tr>
							
							
							
							<tr>
							<td ><label class="customcheck">Calle<input type="checkbox" name="general"  class="chk  par" value="calle as Calle"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">No. Ext.<input type="checkbox" name="general"  class="chk  par" value="numE as No. Ext.">&nbsp;&nbsp;<span class="checkmark"></span></label></td>
							<td ><label class="customcheck">No. Int.<input type="checkbox" name="general"  class="chk  par" value="numI as No. Int."><span class="checkmark"></span></label></td>
							
							<td ><label class="customcheck">Colonia o fraccionamiento<input type="checkbox" name="general "  class="chk  par" value="col as Colonia o fraccionamiento"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Localidad<input type="checkbox" name="general"  class="chk  par" value="loc as Localidad"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Municipio<input type="checkbox" name="general"  class="chk  par" value="mun as Municipio"><span class="checkmark"></span></label></td>
							
							</tr>
							
							
							<tr>
						    <td ><label class="customcheck">Estado<input type="checkbox" name="general"  class="chk  par" value="edo as Estado"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">C.P<input type="checkbox" name="general"  class="chk  par" value="cp as C.P"><span class="checkmark"></span></label></td>
							
							</tr>
							
							
							
							<tr>
							<td colspan=8 style="text-align:center !important; border: 0px;">
								<br />
								
								<h4 class="subDivi">Domicilio fiscal</h4>
							
								<br />
							</td>
							</tr>
							
							
							<tr>
							<td ><label class="customcheck">Razón social fiscal<input type="checkbox" name="general"  class="chk  fis" value="razonSocialFiscal as Razón social fiscal"><span class="checkmark"></span></label></td>							
							<td ><label class="customcheck">Calle fiscal<input type="checkbox" name="general"  class="chk  fis" value="calleFiscal as Calle fiscal"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">No. Ext. <input type="checkbox" name="general"  class="chk  fis" value="numEFiscal as No. Ext.">&nbsp;&nbsp;<span class="checkmark"></span></label></td>
							<td ><label class="customcheck">No. Int. <input type="checkbox" name="general"  class="chk  fis" value="numIFiscal as No._Int."><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Colonia o fraccionamiento <input type="checkbox" name="general"  class="chk  fis" value="colFiscal as Colonia o fraccionamiento"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Localidad <input type="checkbox" name="general"  class="chk  fis" value="locFiscal as Localidad "><span class="checkmark"></span></label></td>
							</tr>
							
							
							
			
							
							
							<tr>
							<td ><label class="customcheck">Municipio <input type="checkbox" name="general"  class="chk  fis" value="munFiscal as Municipio "><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Estado <input type="checkbox" name="general"  class="chk  fis" value="edoFiscal as Estado "><span class="checkmark"></span></label></td>
							
							<td ><label class="customcheck">C.P <input type="checkbox" name="general"  class="chk  fis" value="cpFiscal as C.P "><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">RFC<input type="checkbox" name="general"  class="chk  fis" value="rfc as RFC"><span class="checkmark"></span></label></td>
							</tr>
							<tr>
							<td colspan=8 style="text-align:center !important; border: 0px;">
								<br />
								<div class="divisionFormFormulario">
								<h3>Información del donativo</h3>
								</div>
								<br />
							</td>
							</tr>
							
							<tr>
							<td ><label class="customcheck">Medio de cobro<input type="checkbox" name="general"  class="chk don" value="medioCobroDon as Medio de cobro"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Número de personal<input type="checkbox" name="general"  class="chk don" value="numPersonal as Número de personal"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Dependencia de adscripción<input type="checkbox" name="general"  class="chk don" value="dependenciaAdscripcion as Dependencia de adscripción"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Donativo Total<input type="checkbox" name="general"  class="chk don" value="donativoTotal as Donativo Total"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Donativo quincenal<input type="checkbox" name="general"  class="chk don" value="donativoQuincenal as Donativo quincenal"><span class="checkmark"></span></label></td>
							</tr>
							
							<tr>
							
							<td ><label class="customcheck">Número de quincenas<input type="checkbox" name="general"  class="chk don" value="numQuincenas as Número de quincenas"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Quincena de inicio de aportación<input type="checkbox" name="general"  class="chk don" value="quincenaInicio as Quincena de inicio de aportación"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Año quincena<input type="checkbox" name="general"  class="chk don" value="anioQuincena as Año quincena"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Cuenta, sucursal y CLABE Bancaria<input type="checkbox" name="general"  class="chk don" value="cuentaBancaria as Cuenta sucursal y CLABE Bancaria"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Referencia<input type="checkbox" name="general"  class="chk don" value="referencia as Referencia"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Número de cobros<input type="checkbox" name="general"  class="chk don" value="numPagos as Número de cobros"><span class="checkmark"></span></label></td>
							
							</tr>
							
							<tr>
							<td ><label class="customcheck">Importe de cada cobro<input type="checkbox" name="general"  class="chk don" value="importeNumPagos as Importe de cada cobro"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Banco<input type="checkbox" name="general"  class="chk don" value="banco as Banco"><span class="checkmark"></span></label></td>						
							<td ><label class="customcheck">Nombre del tarjetahabiente<input type="checkbox" name="general"  class="chk don" value="nombreTarjetahabiente as Nombre del tarjetahabiente"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Red<input type="checkbox" name="general"  class="chk don" value="red as Red"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Tipo<input type="checkbox" name="general"  class="chk don" value="tipoTarjeta as Tipo"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Número de tarjeta<input type="checkbox" name="general"  class="chk don" value="numTarjeta as Número de tarjeta"><span class="checkmark"></span></label></td>
							
							
							</tr>
							
							<tr>
							<td ><label class="customcheck">Mes de vencimiento<input type="checkbox" name="general"  class="chk don" value="mesVencimiento as Mes de vencimiento"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Año de vencimiento<input type="checkbox" name="general"  class="chk don" value="anioVencimiento as Año de vencimiento"><span class="checkmark"></span></label></td>
							
							<td ><label class="customcheck">Tipo de donativo<input type="checkbox" name="general"  class="chk don" value="tipoDonativo as Tipo de donativo"><span class="checkmark"></span></label></td>
							<td ><label class="customcheck">Fecha de inicio de aportación (mes)<input type="checkbox" name="general"  class="chk don" value="mesInicioAportacion as Fecha de inicio de aportación (mes)"><span class="checkmark"></span></label></td>
						
							</tr>
							
							
							
		
							
							
				
							<tr>
							<td colspan=8 style="text-align:center !important; border: 0px;">
								<br />
								<div class="divisionFormFormulario">
								<h3>Observaciones generales</h3>
								</div>
								<br />
							</td>
							</tr>
						
							
							<tr >
						
							<td ><label class="customcheck">Observaciones<input type="checkbox" name="general"  class="chk obs" value="observaciones as Observaciones"><span class="checkmark"></span></label></td>
							</tr>
							
							</table>
							</div>
							
							<div id="deportivas" style="display:none;">
							<label>Seleccion de datos</label>
							<div class="row">
							
							</div>
							</div>
							<br/>
							
							<div id="iconosReporteGeneral" class="iconosModal" style="display: none;">
							<a onclick="donantesGeneral(1,'resultReport11','iconosModal');" class="lbl "><img title='Descargar pdf' class="image"  src='/imagenes/pdf.png' alt='Descargar PDF' /></a>&nbsp&nbsp&nbsp 
							<a onclick="donantesGeneral(2,'resultReport11','iconosModal');" class="lbl "><img src='/imagenes/excel.png' class="image"   title='Descargar excel' alt='Descargar excel' /></a>&nbsp&nbsp&nbsp 
							<a onclick="donantesGeneral(3,'resultReport11','iconosModal');" class="lbl "><img src='/imagenes/html.png'  class="image"  title='Descargar html' alt='Descargar html' /></a>
							</div>
							 <br/>
							<div class="progress" id="resultReport11" style="display:none;">
							    <div class="progress-bar progress-bar-striped active" id="resultReport112" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:15%">							     
							    </div>
							 </div>
							
							<br />
							<div id="respuestaPass"></div>
							<br />
							
							<button type="button" class="btn btn-danger" data-dismiss="modal"
								onclick="cerrarModal('donanteGeneralModal');">Cancelar</button>
								</div>
							</form>

					</div>
				</div>
			</div>
		</div>
		


<!-- /****************reporte de cobranza************************/ -->
		<div id="cobranzaModal" class="modal" role="dialog"
			style="overflow-y: auto;">
			<div class="modal-dialog modal-lg" role="document">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> 
						<h4 class="modal-title divRespuesta">Modificar beneficiario</h4>-->
					</div>
					<div class="modal-body">
						<form id="beneForm">
							<div class="valoresCentrados">

		
			<div class="row "  >
						<div class="col-xs-6" style="float: left; ">
							<label for="idPeriodoC">Periodo</label><br> <select onchange="verificarCombinacionCobranza();"
								id="idPeriodoC" 
								class="form-control selectTextFormulario">
								<option disabled selected value="">Selecciona periodo</option>
								<option th:each="periodo : ${periodos}"
									th:value="${periodo.idPeriodo}" th:text="${periodo.nombre}" style="white-space: pre-line;" ></option>
							</select>
						</div>
						
						<div class="col-xs-6" style="float: right ; ">
							<label for="medioCobroC">Medio de cobro</label><br> <select onchange="cambiaMedioCobro();" 
								id="medioCobroC" 
								class="form-control selectTextFormulario">
								<option selected value="1">Nómina</option>
								<option value="2">Depósito o transferencia</option>
								<option value="3">Tarjeta de crédito/débito</option>	
								
							</select>
						</div>
						
				</div>
				<br/>
			
			
			<br/>
				
				<div class="row " id="rowQuincena">
						<div class="col-xs-4" style="margin:0 auto; float:none;">
							<label for="idQuincena">Quincena</label><br> <select onchange="verificarCombinacionCobranza();"
								id="idQuincena" 
								class="form-control selectTextFormulario">
								<option disabled selected value="">Selecciona quincena</option>
								<option th:each="quincena : ${quincenas}"
									th:value="${quincena.idQuincena}" th:text="${quincena.nombre}"></option>
							</select>
						</div>
		
				</div>
				<div class="row " id="rowTarjeta" style="display: none;">
						<div class="col-xs-6" style="float: left; ">
							<label for="anio">Año</label><br> <select onchange="verificarCombinacionCobranza();"
								id="anio" 
								class="form-control selectTextFormulario">								
								<option value="2020">2020</option>
								<option value="2021">2021</option>
								<option value="2022">2022</option>
								<option value="2023">2023</option>
								<option value="2024">2024</option>
								<option value="2025">2025</option>
	
							</select>
						</div>
						
						<div class="col-xs-6" style="float: right ; ">
							<label for="mes">Mes</label><br> <select onchange="verificarCombinacionCobranza();" 
								id="mes" 
								class="form-control selectTextFormulario">
								<option value="1">Enero</option>
								<option value="2">Febrero</option>
								<option value="3">Marzo</option>
								<option value="4">Abril</option>
								<option value="5">Mayo</option>
								<option value="6">Junio</option>
								<option value="7">Julio</option>
								<option value="8">Agosto</option>
								<option value="9">Septiembre</option>
								<option value="10">Octubre</option>
								<option value="11">Noviembre</option>
								<option value="12">Diciembre</option>		
								
							</select>
						</div>
						</div>
			
							
								<br/>
								<br/> 
							
		
				
						
	

							<br/>
							
							<div id="iconosReporteCobranza" class="iconosModal" style="display: none;">
							<a onclick="cobranzaGeneral(1,'resultReport111','iconosModal');" class="lbl "><img title='Descargar pdf' class="image"  src='/imagenes/pdf.png' alt='Descargar PDF' /></a>&nbsp&nbsp&nbsp 
							<a onclick="cobranzaGeneral(2,'resultReport111','iconosModal');" class="lbl "><img src='/imagenes/excel.png' class="image"   title='Descargar excel' alt='Descargar excel' /></a>&nbsp&nbsp&nbsp 
							<a onclick="cobranzaGeneral(3,'resultReport111','iconosModal');" class="lbl "><img src='/imagenes/html.png'  class="image"  title='Descargar html' alt='Descargar html' /></a>
							</div>
							 <br/>
							<div class="progress" id="resultReport111" style="display:none;">
							    <div class="progress-bar progress-bar-striped active" id="resultReport112" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:15%">							     
							    </div>
							 </div>
							
							<br />
							<div id="respuestaPass"></div>
							<br />
							
							<button type="button" class="btn btn-danger" data-dismiss="modal"
								onclick="cerrarModal('cobranzaModal');">Cancelar</button>
								</div>
							</form>

					</div>
				</div>
			</div>
		</div>
<!-- < ****************fin reporte de cobranza***************************** -> -->






		<div class="valoresCentrados" id="postResultDiv"></div>
	</div>
	<div style="padding-top: 20px;">
		<th:block th:include="/default/pie"></th:block>
	</div>
</body>
</html>