<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<th:block th:include="/default/menu"></th:block>	
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Siabe</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
	
	
</head>
<body class="container-full">
	
	<div class="container bordeContainer">
		<h5 class="text-center" style="font-size: 30px">Siabe</h5>
		<!-- /login?error=true -->
  
		<form>
			<div >
				<h3>Bienvenido al sistema de administración de becas, si tienes alguna duda o comentario puedes enviar un correo a <u style="color: blue;">vquitano@fundacionuv.org</u></h3>
			</div>
			
		</form>
	</div>
	<div style="padding-top: 20px;">
	<th:block th:include="/default/pie"></th:block>
	</div>
</body>
</html>
