<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Siabe</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap-3.3.7/css/bootstrap.min.css" />	
	
	<script src="/js/jquery-3.3.1.min.js"></script>    
<script src="/css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container" style="margin:0 auto; background: #DCDCDC;">
	<th:block th:include="/default/menu"></th:block>
	<div style="height: 250px;"></div>
	<div class="row col-sm-6" 
				style="border: 1.5px ridge #337AB7; padding:30px; float: none; display:block;margin:0 auto 0 auto; background: #fff;">
		<h5 class="text-center" style="font-size: 30px">Siabe</h5>
		<!-- /login?error=true -->
  
		<form>
			<div class="">
				<p>Aquí va la página principal</p>
				<span th:utext="${usuario}"></span>
			</div>
			
		</form>
	</div>
</body>
</html>