<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Siabe</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/imagenes/favicon.ico" /> 
	<link type="text/css" rel="stylesheet" href="/css/bootstrap-3.3.7/css/bootstrap.min.css" />
	
	
	<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>    
</head>
<body class="container" >
	<!-- <th:block th:include="/default/menu"></th:block> -->
	<div style="height: 20px;"></div>
	
	<div class="hidden-xs row col-sm-6" style="padding:30px; float: none; display:block;margin:0 auto 0 auto; text-align: center;">
	
	<img  style="float: left;" width="100px;" height="130px;" alt="Fundación UV" src="/imagenes/FUV nuevo imagotipo limpio.png">
	<img  style="float: right;" width="145px;" height="130px;" alt="Universidad Veracruzana" src="/imagenes/MATRIZ LIS UV COLOR LEMA .png">
	
	</div>
	<div class="row col-sm-6" 
				style="border: 1.5px ridge #337AB7; padding:30px; float: none; display:block;margin:0 auto 0 auto; background: #fff;">
		<h5 class="text-center" style="font-size: 30px">Siabe</h5>
		<h5 class="text-center" style="font-size: 20px">(Sistema integral de administración de becas)</h5>
		<!-- /login?error=true -->
      <div th:if="${#request.getParameter('error') == 'true'}"
            style="color:red;margin:10px 0px; text-align: center;">
         <p style="font-weight: bold;">Login incorrecto!!!</p><br />
         Motivos :<br />
         <div th:if="${param.error}">
			<p style="color: red; font-weight: bold; text-align: center;">El usuario o la contraseña son incorrectas, por favor verifique de nuevo!</p>
	
		</div>
         <!-- <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span> -->
           
      </div>
      <div th:if="${#request.getParameter('session') == 'false'}"
            style="text-align:center; margin: 0 auto; color:red;margin:10px 0px; font-size:16px; font-weight: bold;">
         Sesión inactiva<br />
         Vuelva a loguearse.
           
      </div>
		
		<form name='f' th:action="@{/j_spring_security_check}" method='POST'>
			<div class="form-group">
				<label for="username">Correo: </label>
				<div class="input-group ">
				<span class="input-group-addon" style="color: #284E97 !important;"><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" class="glyphicon glyphicon-user form-control" style="font-size: 17px;color: #000;text-align: center; font-weight: 600; width: 100% !important;	position: initial !important;font-family: inherit !important;" required id="username" name="username"/>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Contraseña: </label>
				 <div class="input-group ">
				<span class="input-group-addon" style="color: #284E97 !important;"><span class="glyphicon glyphicon-asterisk"></span></span>
				<input  type="password" class="form-control material-icons" style="font-size: 17px;	color: #000;	text-align: center; font-weight: 6000; width: 100% !important;	position: initial !important;font-family: inherit !important;" required id="password" name="password"/>
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary btn-block">Acceder</button>
			
		</form>
		<br/>
		<div>
		<span class="text-center" style="cursor:pointer; text-align:center !important; display: inline-block; width: 100%;" onclick="$('#recuperarUserContra').show();">¿Olvidaste tu usuario o contraseña?</span>
		</div>
	</div>
	
	<div id="recuperarUserContra" class="modal" role="dialog">
       <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
               <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h4 class="modal-title text-center">Usuario y nueva contraseña</h4>
               </div>
               <div class="modal-body">
               		<form id="rescueUPForm">
               		<div class="" style="width:100%; text-align:center; display:inline-block;">
         
               		<div style="width:100%; padding: 0px 50px;">            		
               		<span style="font-size:14px;color: #284E97;font-weight: bold;">Usuario o correo registrado </span><br/>
               		<input  type="text" style="text-align: center !important;" class="form-control" 
               		required minlength="5" id="recuperacion"/>
               		<br/>
               		
               		</div>
               		
               		</div>
               		<br/>
               		<div class="progress" id="resultUP" style="display:none;">
							    <div class="progress-bar progress-bar-striped active" id="respuestaUP" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:15%">							     
							    </div>
							 </div>
               		
               	<br/>
                   <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="$('#recuperarUserContra').hide();">Cancelar</button>
                   <button type="submit" id="btn-confirm" class="btn btn-primary pull-right">Enviar</button>
                   </form>
                   
               </div>
           </div>
       </div>
   </div>
	
	
</body>
</html>